In [1]:
import pandas as pd
from dataset import Dataset

%load_ext autoreload
%autoreload 2

In [2]:
pd.read_csv('../data/avocado.csv').head(5)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [15]:
pd.read_csv('../data/avocado.csv')['year'].unique()

array([2015, 2016, 2017, 2018])

In [16]:
ignore_cols = ['Unnamed: 0', 'Date']
categorical_cols = ['type', 'year', 'region']
numeric_cols = ['Total Volume', '4046', '4225', '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags']
ordinal_cols = {
    'year': [2015, 2016, 2017, 2018]
}

In [17]:
avocado_dataset = Dataset("../data/avocado.csv", y_col='AveragePrice', 
                          train_size=0.5, test_size=0.5,
                          categorical_cols=categorical_cols,
                          ignore_cols=ignore_cols,
                          numeric_cols=numeric_cols,
                          classification=False
                         )

In [18]:
avocado_dataset.print_shapes()

{'y_test': (9125, 1), 'X_train': (9124, 68), 'X_test': (9125, 68), 'y_train': (9124, 1)}

In [19]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from utils import evaluate_regressor

In [20]:
model = DecisionTreeRegressor(criterion='mse', max_depth=6)
model = model.fit(avocado_dataset.X_train, avocado_dataset.y_train.ravel())
print(evaluate_regressor(model, avocado_dataset.X_train, avocado_dataset.y_train))
print(evaluate_regressor(model, avocado_dataset.X_test, avocado_dataset.y_test))

0.059873856580861855
0.06661497651829178

In [21]:
model = RandomForestRegressor(n_estimators=50)
model = model.fit(avocado_dataset.X_train, avocado_dataset.y_train.ravel())
print(evaluate_regressor(model, avocado_dataset.X_train, avocado_dataset.y_train))
print(evaluate_regressor(model, avocado_dataset.X_test, avocado_dataset.y_test))

0.003915280127137221
0.027580399495890407

In [22]:
model = GradientBoostingRegressor(n_estimators=40)
model = model.fit(avocado_dataset.X_train, avocado_dataset.y_train.ravel())
print(evaluate_regressor(model, avocado_dataset.X_train, avocado_dataset.y_train))
print(evaluate_regressor(model, avocado_dataset.X_test, avocado_dataset.y_test))

0.06041173046015458
0.0636962596238652