In [1]:
import pandas as pd
from dataset import Dataset

%load_ext autoreload
%autoreload 2

In [2]:
pd.read_csv('../data/glass.csv').head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
pd.read_csv('../data/glass.csv').head().columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [4]:
categorical_cols = []
numeric_cols = ['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']
ignore_cols = []
y_col = 'Type'

In [5]:
glass_dataset = Dataset("../data/glass.csv", y_col='Type', 
                          train_size=0.4, val_size=0.1, test_size=0.5,
                          categorical_cols=categorical_cols,
                          ignore_cols=ignore_cols,
                          numeric_cols=numeric_cols,
                          classification=True
                         )

In [6]:
glass_dataset.print_shapes()

{'X_train': (85, 9), 'y_train': (85, 1), 'X_val': (22, 9), 'X_test': (107, 9), 'y_val': (22, 1), 'y_test': (107, 1)}

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from utils import evaluate_classifier

In [8]:
model = DecisionTreeClassifier()
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))
print(evaluate_classifier(model, glass_dataset.X_val, glass_dataset.y_val))

1.0
0.6448598130841121
0.5454545454545454

In [14]:
model = RandomForestClassifier(n_estimators=100, criterion='entropy')
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))
print(evaluate_classifier(model, glass_dataset.X_val, glass_dataset.y_val))

1.0
0.7663551401869159
0.7727272727272727

In [18]:
model = GradientBoostingClassifier()
model = model.fit(glass_dataset.X_train, glass_dataset.y_train.ravel())
print(evaluate_classifier(model, glass_dataset.X_train, glass_dataset.y_train))
print(evaluate_classifier(model, glass_dataset.X_test, glass_dataset.y_test))
print(evaluate_classifier(model, glass_dataset.X_val, glass_dataset.y_val))

1.0
0.6635514018691588
0.6818181818181818